html {
  height: 100%;
}

body {
  font-family: helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: red;
}

.giant-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;

}

.header-container {
  border: 1px solid black;
  border-radius: 3px;
  background-color: red;
  color: #fff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  font-size: 30px;
  font-weight: bolder;
  height: 40px;
  justify-content: space-between;
  padding: 10px;
}

.logout-header {
  background-color: #fff;
  border-radius: 5px;
  margin: 2px;
}

.main-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100% - 40px);
  justify-content: space-between;
  overflow-y: auto;
  position: relative;
}

.navbar-container {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  flex: 0 0 14em;
  justify-content: flex-start;
  order: -1;
}

.navbar-header {
  background-color: rgb(63, 68, 80);
  border: 1px solid grey;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  width: 100%;
}

.nav {
  margin: 0 auto;
  padding: 10px;
}

.movie-container {
  border-left: 1px solid black;
  flex-grow: 6;
  overflow-y: auto;
}

.movie-title {
  font-size: 36px;
  padding: 10px;
}

.category {
  margin-bottom: 40px;
  margin-top: 40px;
}

.category-title {
  font-style: italic;
  padding: 10px;
}

.movie-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  padding: 10px;
}

.content {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.play {
  background-color: rgb(30, 33, 39);
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  max-width: 70px;
}


.name {
  width: 50px;
}

.time {
  flex-grow: 2;
}

.footer-container {
  flex: 0 0 auto;
}

.rights {
  background-color: rgb(155, 162, 178);
  font-size: 12px;
  height: 30px;
  text-align: center;
  width: 100%;
}

/*media query section.*/

@media (min-width: 600px) {
  .main-container {
    flex: 1;
    flex-direction: row;
}
